body {
    margin:0;
    padding:0;
    background-color: black;
}

.container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    padding: 20px;
    background-color: black;
}

.box {
    background-color: goldenrod;
    padding: 20px;
    font-size: large;
    text-align: center;
    font-weight: bold;
}