body    {
    background-color: rgb(218, 59, 54);
}

h1  	{
    color: brown;
}

header img  {
    width: 100%;
    height: auto;
}

Div     {
    background-color: beige;
    width: 100%;
    height: auto;
    padding: 15px;
    border:10px rgb(48, 45, 45);
    margin: 5px;
}